body{
    margin: 0;
    background-color: black;
}

.main-box {
    background-image: url(images/22.png);
    background-size: 100% 100%;
    color: aliceblue;
    position: absolute;
    height: 35em;
    width: 20em;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    box-shadow: 0 3px 8px white;
  }

  .button{
      transition-duration: .4s;
      background-color: black;
      color: white;
      border: 2px solid white;
      padding: 3px 18px;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      margin-top: 370px;
      border-radius: 3px;
      
  }

  .button:hover{
    background-color: white;
    color: black;
  }
  .button2{
    transition-duration: .4s;
    background-color: lightgreen;
    color: black;
    border: 2px solid white;
    padding: 9px 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 480px;
    margin-left: 820px;
    
}
.incrementtext
{
  margin: auto;
}

a{
  color: white;
  text-decoration: none;
}
span{
  font-family: Proza Libre;
}
